body {
    padding: 1%;
    background-color: #8db600;
    display: flex;
}

.container {
    margin: 0;
    padding: 5%;
    margin: 0 2.3%;
    background-color: #c6da52;
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 10px;
}

.button {
    margin: 0;
    padding: 5%;
    background-color: #c6da52;
    width: 5%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 10px;
    transition: all .4s ease;
}
.button:hover {
    transform: scale(0.9);
    box-shadow: 10px 10px 90px #c6da52;
}

.button img {
    width: 200%;
}

.text-chart {
    text-align: center;
}
.text-chart a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    width: 60%;
    font-family: 'Lucida Sans';
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
    border-bottom: #c6da52 solid 1px;
}
.text-chart a:hover {
    border-bottom: #000 solid 1px;
    transform: scale(1.09);
}
.text-chart h1 {
    font-family: 'Lucida Sans';
    font-size: 50px;
}